In [29]:
import pandas as pd
import numpy as np

In [30]:
active_periods = pd.read_csv('../data/active_periods.csv')
battle_actors = pd.read_csv('../data/battle_actors.csv')
battle_dyads = pd.read_csv('../data/battle_dyads.csv')
battles = pd.read_csv('../data/battles.csv')
belligerents = pd.read_csv('../data/belligerents.csv')
commanders = pd.read_csv('../data/commanders.csv', encoding="cp1252")
enum_aeroa = pd.read_csv('../data/enum_aeroa.csv')
enum_cea = pd.read_csv('../data/enum_cea.csv')
enum_codead = pd.read_csv('../data/enum_codead.csv')
enum_crit = pd.read_csv('../data/enum_crit.csv')
enum_post = pd.read_csv('../data/enum_post.csv')
enum_postype = pd.read_csv('../data/enum_postype.csv')
enum_pri = pd.read_csv('../data/enum_pri.csv')
enum_surpa = pd.read_csv('../data/enum_surpa.csv')
enum_terra1 = pd.read_csv('../data/enum_terra1.csv')
enum_terra2 = pd.read_csv('../data/enum_terra2.csv')
enum_terra3 = pd.read_csv('../data/enum_terra3.csv')
enum_wina = pd.read_csv('../data/enum_wina.csv')
enum_wx1 = pd.read_csv('../data/enum_wx1.csv')
enum_wx2 = pd.read_csv('../data/enum_wx2.csv')
enum_wx3 = pd.read_csv('../data/enum_wx3.csv')
enum_wx4 = pd.read_csv('../data/enum_wx4.csv')
enum_wx5 = pd.read_csv('../data/enum_wx5.csv')
front_widths = pd.read_csv('../data/front_widths.csv')
terrain = pd.read_csv('../data/terrain.csv')
version = pd.read_csv('../data/version.csv')
weather = pd.read_csv('../data/weather.csv')
enum_reso = pd.read_csv('../data/enum_reso.csv')

In [3]:
enum_aeroa

   value                                  description
0      0     Neither side had theater air superiority
1      1  Attacker had air superiority in the theater
2     -1  Defender had air superiority in the theater

In [4]:
battles.columns

Index(['isqno', 'war', 'name', 'locn', 'campgn', 'postype', 'post1', 'post2',
       'front', 'depth', 'time', 'aeroa', 'surpa', 'cea', 'leada', 'trnga',
       'morala', 'logsa', 'momnta', 'intela', 'techa', 'inita', 'wina', 'kmda',
       'crit', 'quala', 'resa', 'mobila', 'aira', 'fprepa', 'wxa', 'terra',
       'leadaa', 'plana', 'surpaa', 'mana', 'logsaa', 'fortsa', 'deepa',
       'is_hero', 'war2', 'war3', 'war4', 'war4_theater', 'dbpedia',
       'cow_warno', 'cow_warname', 'war_initiator', 'parent'],
      dtype='object')

In [5]:
type(battles['aeroa'])

pandas.core.series.Series

In [6]:
enum_aeroa

   value                                  description
0      0     Neither side had theater air superiority
1      1  Attacker had air superiority in the theater
2     -1  Defender had air superiority in the theater

In [31]:
def enum_to_dict (df):
    return dict(zip(df.value, df.description))

In [32]:
dflist = [enum_codead, enum_crit, enum_post, enum_post, enum_postype, 
          enum_pri, enum_pri, enum_pri, enum_pri, enum_pri, enum_pri, enum_terra1, enum_terra2, enum_terra3, 
          enum_wina, enum_wx1, enum_wx2, enum_wx3, enum_wx4, enum_wx5, enum_reso, enum_reso, enum_reso]
column_names = ['codead', 'crit', 'post1', 'post2', 'postype', 'pri1', 'pri2', 'pri3', 'sec1', 'sec2', 'sec3',
               'terra1', 'terra2', 'terra3', 'wina', 'wx1', 'wx2', 'wx3', 'wx4', 'wx5', 'reso1', 'reso2', 'reso3']

dict_of_dicts = dict(zip(column_names, [enum_to_dict(df) for df in dflist])) 
#enum_dicts = {} 
#for df in dflist:
   # enum_dicts.update(enum_to_dict(df))

In [33]:
dict_of_dicts

{'codead': {1: 'Total strength is also initial strength',
  2: 'Total strength is an average daily strength',
  3: 'Total strength is the total strength engaged'},
 'crit': {1: 'clear cut', 2: 'not clear cut'},
 'post1': {'DL': 'Delaying action adopted',
  'WD': 'Withdrawal adopted',
  'FD': 'Fortified defense',
  'HD': 'Hasty defense',
  'PD': 'Prepared defense'},
 'post2': {'DL': 'Delaying action adopted',
  'WD': 'Withdrawal adopted',
  'FD': 'Fortified defense',
  'HD': 'Hasty defense',
  'PD': 'Prepared defense'},
 'postype': {0: 'At most one defensive posture is given (so, e.g., POST2 : "OO")',
  1: 'A combination posture involving two distinct/separate postures',
  2: 'An average or intermixture of two or more postures',
  9: 'More than one posture, but whether separate or intermixed is not available'},
 'pri1': {'LF': 'Left flank',
  'DO': 'Defensive/offensive plan',
  'PP': 'Penetration',
  'RR': 'Right rear',
  'EE': 'Single envelopment',
  'DD': 'Defensive plan',
  'DE': 'Double envelopment',
  'RF': 'Right flank',
  'LR': 'Left rear',
  'FE': 'Feint, demonstration, or holding attack',
  'FF': 'Frontal attack',
  'RC': 'River crossing'},
 'pri2': {'LF': 'Left flank',
  'DO': 'Defensive/offensive plan',
  'PP': 'Penetration',
  'RR': 'Right rear',
  'EE': 'Single envelopment',
  'DD': 'Defensive plan',
  'DE': 'Double envelopment',
  'RF': 'Right flank',
  'LR': 'Left rear',
  'FE': 'Feint, demonstration, or holding attack',
  'FF': 'Frontal attack',
  'RC': 'River crossing'},
 'pri3': {'LF': 'Left flank',
  'DO': 'Defensive/offensive plan',
  'PP': 'Penetration',
  'RR': 'Right rear',
  'EE': 'Single envelopment',
  'DD': 'Defensive plan',
  'DE': 'Double envelopment',
  'RF': 'Right flank',
  'LR': 'Left rear',
  'FE': 'Feint, demonstration, or holding attack',
  'FF': 'Frontal attack',
  'RC': 'River crossing'},
 'sec1': {'LF': 'Left flank',
  'DO': 'Defensive/offensive plan',
  'PP': 'Penetration',
  'RR': 'Right rear',
  'EE': 'Single envelopment',
  'DD': 'Defensive plan',
  'DE': 'Double envelopment',
  'RF': 'Right flank',
  'LR': 'Left rear',
  'FE': 'Feint, demonstration, or holding attack',
  'FF': 'Frontal attack',
  'RC': 'River crossing'},
 'sec2': {'LF': 'Left flank',
  'DO': 'Defensive/offensive plan',
  'PP': 'Penetration',
  'RR': 'Right rear',
  'EE': 'Single envelopment',
  'DD': 'Defensive plan',
  'DE': 'Double envelopment',
  'RF': 'Right flank',
  'LR': 'Left rear',
  'FE': 'Feint, demonstration, or holding attack',
  'FF': 'Frontal attack',
  'RC': 'River crossing'},
 'sec3': {'LF': 'Left flank',
  'DO': 'Defensive/offensive plan',
  'PP': 'Penetration',
  'RR': 'Right rear',
  'EE': 'Single envelopment',
  'DD': 'Defensive plan',
  'DE': 'Double envelopment',
  'RF': 'Right flank',
  'LR': 'Left rear',
  'FE': 'Feint, demonstration, or holding attack',
  'FF': 'Frontal attack',
  'RC': 'River crossing'},
 'terra1': {'0': 'Other or not available',
  'R': 'Rolling',
  'G': 'Rugged',
  'F': 'Flat'},
 'terra2': {'0': 'Other or not available',
  'B': 'Bare',
  'M': 'Mixed',
  'D': 'Desert',
  'W': 'Heavily Wooded'},
 'terra3': {'0': 'Other or not available',
  'M': 'Marsh or swamp',
  'U': 'Urban',
  'D': 'Dunes'},
 'wina': {0: 'draw', 1: 'attacker win', -1: 'attacker loss'},
 'wx1': {'D': 'Dry', 'W': 'Wet'},
 'wx2': {'H': 'Heavy Precipitatiion',
  'S': 'Sunny (no precipitation)',
  'L': 'Light Precipitation',
  'O': 'Overcast (no precipitation)'},
 'wx3': {'H': 'Hot', 'C': 'Cold', 'T': 'Temperate'},
 'wx4': {'S': 'Summer', '$': 'Spring', 'W': 'Winter', 'F': 'Fall'},
 'wx5': {'E': 'Tropical (i.e., "Equatorial")',
  'D': 'Desert',
  'T': 'Temperate'},
 'reso1': {'AA': 'Annihilated',
  'PS': 'Pursued',
  'PP': 'Penetration',
  'WD': 'Withdrew',
  'RR': 'Repulse',
  'BB': 'Breakthrough',
  'SS': 'Stalemate',
  'WL': 'Withdrew with heavy losses'},
 'reso2': {'AA': 'Annihilated',
  'PS': 'Pursued',
  'PP': 'Penetration',
  'WD': 'Withdrew',
  'RR': 'Repulse',
  'BB': 'Breakthrough',
  'SS': 'Stalemate',
  'WL': 'Withdrew with heavy losses'},
 'reso3': {'AA': 'Annihilated',
  'PS': 'Pursued',
  'PP': 'Penetration',
  'WD': 'Withdrew',
  'RR': 'Repulse',
  'BB': 'Breakthrough',
  'SS': 'Stalemate',
  'WL': 'Withdrew with heavy losses'}}

In [34]:
for col in battles.columns:
    if col in dict_of_dicts:
        battles[col] = battles[col].map(dict_of_dicts[col])

In [11]:
for col in terrain.columns:
    if col in dict_of_dicts:
        terrain[col] = terrain[col].map(dict_of_dicts[col])

In [12]:
for col in weather.columns:
    if col in dict_of_dicts:
        weather[col] = weather[col].map(dict_of_dicts[col])

In [25]:
for col in belligerents.columns:
    if col in dict_of_dicts:
        belligerents[col] = belligerents[col].map(dict_of_dicts[col])

In [14]:
belligerents.pri3.value_counts()

Left flank            36
Right flank           34
Right rear            10
Left rear              8
Single envelopment     7
Frontal attack         5
Double envelopment     4
River crossing         3
Name: pri3, dtype: int64

In [15]:
belligerents.to_csv('../data/belligerents_mapped.csv')

In [35]:
battles.to_csv('../data/battles_mapped3.csv')

In [17]:
terrain.to_csv('../data/terrain_mapped.csv')

In [18]:
weather.to_csv('../data/weather_mapped.csv')

In [19]:
battles

,isqno,war,name,locn,campgn,postype,post1,post2,front,depth,...,is_hero,war2,war3,war4,war4_theater,dbpedia,cow_warno,cow_warname,war_initiator,parent
0,1,NETHERLAND'S WAR OF INDEPENDENCE,NIEUPORT,SPANISH FLANDERS,NIEUPORT 1600,"At most one defensive posture is given (so, e....",Hasty defense,NaN,0.0,0.0,...,1,NETHERLAND'S WAR OF INDEPENDENCE,NETHERLAND'S WAR OF INDEPENDENCE,Eighty Years War of 1568-1648,NaN,http://dbpedia.org/resource/Battle_of_Nieuwpoort,NaN,NaN,0,NaN
1,2,THIRTY YEAR'S WAR,WHITE MOUNTAIN,BOHEMIA,BOHEMIA 1620,A combination posture involving two distinct/s...,Hasty defense,Prepared defense,1.0,0.0,...,1,THIRTY YEAR'S WAR,THIRTY YEAR'S WAR,Thirty Years' War of 1618-1648,NaN,http://dbpedia.org/resource/Battle_of_White_Mo...,NaN,NaN,0,NaN
2,3,THIRTY YEAR'S WAR,WIMPFEN,PALATINATE,PALATINATE 1622,"At most one defensive posture is given (so, e....",Hasty defense,NaN,0.0,0.0,...,1,THIRTY YEAR'S WAR,THIRTY YEAR'S WAR,Thirty Years' War of 1618-1648,NaN,http://dbpedia.org/resource/Battle_of_Wimpfen,NaN,NaN,0,NaN
3,4,THIRTY YEAR'S WAR,DESSAU BRIDGE,ANHALT,DANISH INVASION OF GERMANY 1625-26,"At most one defensive posture is given (so, e....",Prepared defense,NaN,0.0,0.0,...,1,THIRTY YEAR'S WAR,THIRTY YEAR'S WAR,Thirty Years' War of 1618-1648,NaN,http://dbpedia.org/resource/Battle_of_Dessau_B...,NaN,NaN,1,NaN
4,5,THIRTY YEAR'S WAR,LUTTER,BRUNSWICK,DANISH INVASION OF GERMANY 1625-26,"At most one defensive posture is given (so, e....",Hasty defense,NaN,0.0,0.0,...,1,THIRTY YEAR'S WAR,THIRTY YEAR'S WAR,Thirty Years' War of 1618-1648,NaN,http://dbpedia.org/resource/Battle_of_Lutter,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,656,"ARAB-ISRAELI, 1948",JERUSALEM CORRIDOR,WEST BANK,JERUSALEM CORRIDOR,"More than one posture, but whether separate or...",Prepared defense,NaN,NaN,NaN,...,0,"ARAB-ISRAELI, 1948","ARAB-ISRAELI, 1948",Arab-Israeli War of 1948-1949,NaN,http://dbpedia.org/resource/Operation_Danny,148.0,Arab-Israeli War of 1948-1949,0,NaN
656,657,WORLD WAR II,ARDENNES,NORTHWEST EUROPE,ARDENNES 1940,"More than one posture, but whether separate or...",NaN,NaN,NaN,NaN,...,0,WORLD WAR II (FRANCE 1940),WORLD WAR II,World War II of 1939-1945,Western Front,NaN,139.0,World War II of 1939-1945,1,NaN
657,658,WORLD WAR II,CAMBRAI,NORTHWEST EUROPE,CAMBRAI,"More than one posture, but whether separate or...",NaN,NaN,NaN,NaN,...,0,WORLD WAR II (FRANCE 1940),WORLD WAR II,World War II of 1939-1945,Western Front,NaN,139.0,World War II of 1939-1945,1,NaN
658,659,WORLD WAR II,ARRAS,NORTHWEST EUROPE,ARRAS,"More than one posture, but whether separate or...",Hasty defense,NaN,NaN,NaN,...,0,WORLD WAR II (FRANCE 1940),WORLD WAR II,World War II of 1939-1945,Western Front,NaN,139.0,World War II of 1939-1945,0,NaN
659,660,WORLD WAR II,BOOS,NORTHWEST EUROPE,BOOS,"More than one posture, but whether separate or...",Prepared defense,NaN,NaN,NaN,...,0,WORLD WAR II (FRANCE 1940),WORLD WAR II,World War II of 1939-1945,Western Front,NaN,139.0,World War II of 1939-1945,0,NaN

In [20]:
weather

     isqno  wxno  wx1                       wx2        wx3     wx4        wx5
0        1     1  Dry  Sunny (no precipitation)  Temperate  Summer  Temperate
1        2     1  Dry  Sunny (no precipitation)  Temperate  Winter  Temperate
2        3     1  Dry  Sunny (no precipitation)        Hot  Spring  Temperate
3        4     1  Dry  Sunny (no precipitation)  Temperate  Spring  Temperate
4        5     1  Dry  Sunny (no precipitation)  Temperate  Summer  Temperate
..     ...   ...  ...                       ...        ...     ...        ...
782    656     1  Dry                       NaN        Hot  Summer     Desert
783    657     1  Wet       Light Precipitation  Temperate  Spring  Temperate
784    658     1  Wet       Light Precipitation  Temperate  Spring  Temperate
785    659     1  Dry                       NaN  Temperate  Spring  Temperate
786    660     1  Wet       Light Precipitation  Temperate  Summer  Temperate

[787 rows x 7 columns]

In [21]:
terrain

     isqno  terrano   terra1 terra2 terra3
0        1        1  Rolling   Bare  Dunes
1        2        1  Rolling  Mixed    NaN
2        3        1  Rolling  Mixed    NaN
3        4        1  Rolling  Mixed    NaN
4        5        1  Rolling  Mixed    NaN
..     ...      ...      ...    ...    ...
784    656        1  Rolling   Bare    NaN
785    657        1  Rolling  Mixed    NaN
786    658        1  Rolling  Mixed    NaN
787    659        1  Rolling  Mixed    NaN
788    660        1  Rolling  Mixed    NaN

[789 rows x 5 columns]

In [22]:
belligerents

,isqno,attacker,nam,co,str,code,intst,rerp,cas,finst,...,sec3,reso1,reso2,reso3,strpl,strmi,caspl,casmi,ach,actors
0,1,0,DU ARMY OF THE STATES GENERAL,MAURICE OF NASSAU,11300.0,1.0,11300.0,0.0,1000.0,10300.0,...,0,NaN,NaN,NaN,33.0,-3.0,20.0,0.0,8,Dutch Republic
1,1,1,SP NETHERLANDS ARMY,ALBERT OF AUSTRIA,11500.0,1.0,11500.0,0.0,4000.0,7500.0,...,NaN,RR,WD,NaN,0.0,-5.0,0.0,-25.0,3,Spain
2,10,0,SP & IMP ARMY,CARDINAL-INFANTE AND FERDINAND,35000.0,1.0,35000.0,0.0,2000.0,33000.0,...,0,PS,WD,NaN,0.0,-6.0,10.0,-10.0,9,Spain & Holy Roman Empire
3,10,1,SW ARMY,SAXE-WEIMAR & HORN,25000.0,1.0,25000.0,0.0,12000.0,13000.0,...,NaN,RR,WL,NaN,10.0,-10.0,75.0,0.0,3,Sweden
4,100,0,AUSTRIAN ARMY,SAXE-COBURG,23000.0,1.0,23000.0,0.0,3000.0,20000.0,...,0,WD,NaN,NaN,13.0,0.0,67.0,0.0,4,Austria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,97,1,FRENCH ARMY OF THE NORTH,DUMOURIEZ,40000.0,1.0,40000.0,0.0,3000.0,37000.0,...,NaN,PP,NaN,NaN,13.0,0.0,0.0,-33.0,6,France
1316,98,0,AUSTRIAN ARMY,SAXE-COBURG,43000.0,1.0,43000.0,0.0,3000.0,40000.0,...,0,NaN,NaN,NaN,0.0,-7.0,13.0,0.0,6,Austria
1317,98,1,FRENCH ARMY OF THE NORTH,DUMOURIEZ,45000.0,1.0,45000.0,0.0,4000.0,41000.0,...,NaN,RR,WD,NaN,0.0,-9.0,0.0,-10.0,4,France
1318,99,0,BR & HAN ARMY,YORK,13000.0,1.0,13000.0,0.0,3000.0,10000.0,...,0,WD,NaN,NaN,23.0,0.0,0.0,-30.0,4,Great Britain
1319,99,1,FRENCH ARMY OF THE NORTH,HOUCHARD,42000.0,1.0,42000.0,0.0,3000.0,39000.0,...,NaN,PP,NaN,NaN,0.0,-29.0,0.0,-33.0,6,France

In [23]:
dict_of_dicts['aeroa']

{0: 'Neither side had theater air superiority',
 1: 'Attacker had air superiority in the theater',
 -1: 'Defender had air superiority in the theater'}

In [24]:
terrain.columns

Index(['isqno', 'terrano', 'terra1', 'terra2', 'terra3'], dtype='object')

In [25]:
battle_actors.columns

Index(['isqno', 'attacker', 'n', 'actor'], dtype='object')

list of strings

combine into dictionary of dictionaries dict(zip(list of strings, enum_dicts)

for loop
- list of remaining df that need to be mapped
- another for loop within iterating over columns in df
    - map columns where names can be found in dictionary of dictionaries

In [26]:
aeroa_dict = dict(zip(enum_aeroa.value, enum_aeroa.description))
battles.aeroa = battles.aeroa.map(aeroa_dict)

In [27]:
cea_dict = enum_to_dict(enum_cea)
battles.cea = battles.cea.map(cea_dict)

In [28]:
cea_dict = enum_to_dict(enum_cea)
battles.cea = battles.cea.map(cea_dict)

In [29]:
cea_dict = enum_to_dict(enum_cea)
battles.cea = battles.cea.map(cea_dict)

In [30]:
cea_dict = enum_to_dict(enum_cea)
battles.cea = battles.cea.map(cea_dict)

In [31]:
battles.iloc[580]

isqno                                                          581
war                           ARAB-ISRAELI WAR, 1973 (OCTOBER WAR)
name                                                    SHALLUFA I
locn                                                         EGYPT
campgn                                                   SUEZ 1973
postype          At most one defensive posture is given (so, e....
post1                                                Hasty defense
post2                                                          NaN
front                                                            0
depth                                                            0
time                                                             0
aeroa                                                          NaN
surpa            Neither side achieved surprise, or it did not ...
cea                                                            NaN
leada                                                            1
trnga                                                            1
morala                                                           0
logsa                                                            0
momnta                                                           1
intela                                                           0
techa                                                            0
inita                                                            1
wina                                                  attacker win
kmda                                                            10
crit                                                     clear cut
quala                                                            1
resa                                                             0
mobila                                                           1
aira                                                             1
fprepa                                                           0
wxa                                                              0
terra                                                            0
leadaa                                                           1
plana                                                            0
surpaa                                                           0
mana                                                             1
logsaa                                                           0
fortsa                                                           0
deepa                                                            0
is_hero                                                          1
war2                           ARAB-ISRAELI WAR, 1973 (SUEZ FRONT)
war3                          ARAB-ISRAELI WAR, 1973 (OCTOBER WAR)
war4                                        Yom Kippur War of 1973
war4_theater                                                   NaN
dbpedia                 http://dbpedia.org/resource/Battle_of_Suez
cow_warno                                                      181
cow_warname                                 Yom Kippur War of 1973
war_initiator                                                    0
parent                                                         NaN
Name: 580, dtype: object

In [32]:
front_widths.columns

Index(['isqno', 'front_number', 'wofa', 'wofd', 'time_min', 'time_max'], dtype='object')

In [34]:
geobattle = pd.read_csv('../data/GeoBattleData_YZ.csv')

In [35]:
geobattle = geobattle.rename(columns = {'iseq': 'isqno'})

In [36]:
geobattle.to_csv('geobattle_isqfixed.csv')

In [37]:
geobattle.columns

Index(['isqno', 'war', 'campn', 'engagem', 'atkr', 'atk_cmdr', 'defr',
       'def_cmdr', 'date', 'long', 'lat', 'dist_att', 'dist_def',
       'elev_mean_h', 'elev_min_h', 'elev_max_h', 'elev_var_h', 'elev_sd_h',
       'elev_mean_l', 'elev_min_l', 'elev_max_l', 'elev_var_l', 'elev_sd_l',
       'a_frontage', 'd_frontage', 'soft_ar', 'tree_ar', 'river', 'wet',
       'overcast', 'temp', 'unit_ar', 'unit_cp', 'unit_dv', 'unit_rg',
       'amilpert', 'dmilpert', 'ffr', 'afsr', 'dfsr', 'frontat', 'envelop',
       'defoff', 'surprise', 'fort', 'a_tks_to', 'a_tks_lt', 'a_tks_mb',
       'a_sortie', 'a_arty', 'd_tks_to', 'd_tks_lt', 'd_tks_mb', 'd_sortie',
       'd_arty', 'a_democ', 'd_democ', 'a_prisec', 'd_prisec', 'a_coup5',
       'd_coup5', 'duration', 'acas_per', 'dcas_per', 'ler', 'ln_ler',
       'a_advance', 'rtadv'],
      dtype='object')

In [38]:
geobattle

,isqno,war,campn,engagem,atkr,atk_cmdr,defr,def_cmdr,date,long,...,d_prisec,a_coup5,d_coup5,duration,acas_per,dcas_per,ler,ln_ler,a_advance,rtadv
0,242,RUSSO-JAPANESE WAR,YALU 1904,THE YALU,JAP 1ST ARMY,TAMEMOTO KUROKI,RUSS ARMY,ZASULICH,1904.329,124.5420,...,413.0,0.0,0.0,1.0000,1110.0,2500.0,0.4440,-0.8119,32000.0,3.2
1,243,RUSSO-JAPANESE WAR,MANCHURIAN 1904,TELISSU,JAP 2ND ARMY,OKU,RUSS ARMY,STAKELBERG,1904.452,122.0084,...,413.0,0.0,0.0,0.6944,1200.0,3800.0,0.3158,-1.1527,32000.0,4.8
2,244,RUSSO-JAPANESE WAR,MANCHURIAN 1904,LIAOYANG,JAP ARMY GROUP,OYAMA,RUSS ARMY GROUP,KUROPATKIN,1904.649,123.1911,...,413.0,0.0,0.0,10.0000,17500.0,16500.0,1.0606,0.0588,53000.0,2.5
3,245,RUSSO-JAPANESE WAR,MANCHURIAN 1904,THE SHA-HO,RUSS ARMY GROUP,KUROPATKIN,JAP ARMY GROUP,OYAMA,1904.762,123.2672,...,1124.0,0.0,0.0,14.0000,46000.0,17000.0,2.7059,0.9954,4000.0,-1.7
4,246,RUSSO-JAPANESE WAR,MANCHURIAN 1905,SANDEPU,RUSS ARMY,GRIPPENBERG,JAP ARMY GROUP,OYAMA,1905.071,122.9014,...,1124.0,0.0,0.0,1.0104,13000.0,9400.0,1.3830,0.3242,28000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,656,"ARAB-ISRAELI, 1948",JERUSALEM CORRIDOR,JERUSALEM CORRIDOR,IS DIV,?,JOR RGT,?,1948.521,34.9440,...,188.0,NaN,NaN,5.0000,150.0,250.0,0.6000,-0.5108,NaN,NaN
378,657,WORLD WAR II,ARDENNES,ARDENNES,GER ARMY GRP,?,FR ARMY,?,1940.356,5.2995,...,1396.0,0.0,0.0,12.0000,NaN,NaN,NaN,NaN,NaN,NaN
379,658,WORLD WAR II,CAMBRAI,CAMBRAI,GER DIV,?,FR DIV,?,1940.364,3.1955,...,1396.0,0.0,0.0,5.0000,NaN,NaN,NaN,NaN,76000.0,9.6
380,659,WORLD WAR II,ARRAS,ARRAS,BRIT RGT,?,GER RGT,?,1940.386,2.8126,...,1252.0,0.0,0.0,2.0000,NaN,410.0,NaN,NaN,NaN,NaN
381,660,WORLD WAR II,BOOS,BOOS,FR CO,?,GER CO,?,1940.416,1.1985,...,1252.0,0.0,0.0,1.0000,NaN,NaN,NaN,NaN,28000.0,0.0

In [2]:
battles_mapped = pd.read_csv('../data/battles_mapped.csv')

In [3]:
battles_mapped.wina = battles_mapped.wina.fillna(value = 'attacker lose')

In [4]:
battles_mapped.wina

0      attacker lose
1       attacker win
2       attacker win
3      attacker lose
4       attacker win
           ...
655    attacker lose
656     attacker win
657     attacker win
658    attacker lose
659             draw
Name: wina, Length: 660, dtype: object

In [37]:
for c in battles.columns:
    print("---- %s ---" % c)
    print(battles[c].value_counts())

---- isqno ---
660    1
226    1
224    1
223    1
222    1
      ..
440    1
439    1
438    1
437    1
1      1
Name: isqno, Length: 660, dtype: int64
---- war ---
WORLD WAR I (WESTERN FRONT 1918)      54
AMERICAN CIVIL WAR                    49
WORLD WAR II (EUROPEAN THEATER)       41
WORLD WAR II (ITALY 1943-1944)        40
WORLD WAR II (OKINAWA)                37
                                      ..
WAR OF TEXAN INDEPENDENCE              1
TRANSVAAL REVOLT                       1
AUSTRO-PRUSSIAN (SEVEN WEEK'S) WAR     1
ISRAEL-LEBANON, 1982                   1
VIET NAM                               1
Name: war, Length: 65, dtype: int64
---- name ---
ARRAS                         2
KUNEITRA                      2
CAMPOLEONE                    2
LUETZEN                       2
TARTO-TIBER                   2
                             ..
DEVERSOIR (CHINESE FARM I)    1
TEL EL HARA                   1
ELEVENTH ISONZO               1
ARRACOURT                     1
TARGUL FRUMOS                 1
Name: name, Length: 653, dtype: int64
---- locn ---
FRANCE       125
ITALY         72
EGYPT         34
OKINAWA       28
VIRGINIA      27
            ...
VENETIA        1
BRUNSWICK      1
COLUMBIA       1
THE SUDAN      1
FRANCONIA      1
Name: locn, Length: 99, dtype: int64
---- campgn ---
ROME                               23
VOLTURNO                           20
GOLAN                              20
OKINAWA (US 7TH INF DIV SECTOR)    17
SUEZ 1973                          16
                                   ..
RHINELAND 1758                      1
AGEILA-RAFAH (AYIN)                 1
PALATINATE 1622                     1
ABERDEEN                            1
THE RZEHW OPERATION                 1
Name: campgn, Length: 306, dtype: int64
---- postype ---
At most one defensive posture is given (so, e.g., POST2 : "OO")               501
A combination posture involving two distinct/separate postures                 70
More than one posture, but whether separate or intermixed is not available     47
An average or intermixture of two or more postures                             42
Name: postype, dtype: int64
---- post1 ---
Hasty defense              293
Fortified defense          179
Prepared defense           164
Delaying action adopted     20
Withdrawal adopted           2
Name: post1, dtype: int64
---- post2 ---
Prepared defense           70
Fortified defense          34
Delaying action adopted    18
Withdrawal adopted          2
Name: post2, dtype: int64
---- front ---
0.0    569
1.0     44
Name: front, dtype: int64
---- depth ---
0.0    578
1.0     35
Name: depth, dtype: int64
---- time ---
0.0    584
1.0     29
Name: time, dtype: int64
---- aeroa ---
0.0    339
1.0    229
Name: aeroa, dtype: int64
---- surpa ---
0.0    474
2.0     87
1.0     64
3.0     20
Name: surpa, dtype: int64
---- cea ---
0.0    401
1.0    122
2.0     20
Name: cea, dtype: int64
---- leada ---
0.0    357
1.0    137
2.0     30
3.0      1
Name: leada, dtype: int64
---- trnga ---
0.0    412
1.0     98
2.0     13
Name: trnga, dtype: int64
---- morala ---
0.0    483
1.0    101
2.0     31
Name: morala, dtype: int64
---- logsa ---
0.0    549
1.0     42
2.0     11
Name: logsa, dtype: int64
---- momnta ---
0.0    474
1.0    147
Name: momnta, dtype: int64
---- intela ---
0.0    498
1.0     58
2.0     22
Name: intela, dtype: int64
---- techa ---
0.0    593
1.0     20
2.0      6
Name: techa, dtype: int64
---- inita ---
1.0    401
0.0    185
2.0     14
3.0      1
Name: inita, dtype: int64
---- wina ---
attacker win    398
draw             43
Name: wina, dtype: int64
---- kmda ---
0.00      108
1.00       43
2.00       27
3.00       23
4.00       17
         ...
483.00      1
54.40       1
11.30       1
130.20      1
0.15        1
Name: kmda, Length: 143, dtype: int64
---- crit ---
clear cut        465
not clear cut    136
Name: crit, dtype: int64
---- quala ---
0.0    390
1.0    147
2.0     11
Name: quala, dtype: int64
---- resa ---
0.0    375
1.0    124
2.0     21
Name: resa, dtype: int64
---- mobila ---
0.0    465
1.0    140
2.0      3
Name: mobila, dtype: int64
---- aira ---
0.0    460
1.0    128
2.0      7
Name: aira, dtype: int64
---- fprepa ---
0.0    466
1.0     91
2.0     17
Name: fprepa, dtype: int64
---- wxa ---
0.0    527
1.0     33
2.0      1
Name: wxa, dtype: int64
---- terra ---
0.0    325
1.0     13
2.0      1
Name: terra, dtype: int64
---- leadaa ---
0.0    355
1.0    131
2.0     33
4.0      1
Name: leadaa, dtype: int64
---- plana ---
0.0    374
1.0    183
2.0     13
Name: plana, dtype: int64
---- surpaa ---
0.0    455
1.0    128
2.0     28
Name: surpaa, dtype: int64
---- mana ---
0.0    464
1.0    125
2.0      7
Name: mana, dtype: int64
---- logsaa ---
0.0    572
1.0     36
2.0      1
Name: logsaa, dtype: int64
---- fortsa ---
0.0    286
1.0      5
Name: fortsa, dtype: int64
---- deepa ---
0.0    443
1.0     13
2.0      5
Name: deepa, dtype: int64
---- is_hero ---
1    600
0     60
Name: is_hero, dtype: int64
---- war2 ---
WORLD WAR II (ITALY 1943-1944)          72
WORLD WAR I (WESTERN FRONT 1918)        54
AMERICAN CIVIL WAR                      49
WORLD WAR II (NORTHWEST EUROPE 1944)    31
WORLD WAR II (EASTERN FRONT)            29
                                        ..
WAR WITH RUSSIA, 1812                    1
RUSSO-FINISH WAR (1939-1940)             1
SPANISH-AMERICAN WAR                     1
NETHERLAND'S WAR OF INDEPENDENCE         1
AUSTRO-ITALIAN WAR                       1
Name: war2, Length: 88, dtype: int64
---- war3 ---
WORLD WAR II                               193
WORLD WAR I                                124
THE NAPOLEONIC WARS                         50
AMERICAN CIVIL WAR                          49
ARAB-ISRAELI WAR, 1973 (OCTOBER WAR)        33
ARAB-ISRAELI WAR, 1967 (SIX-DAY WAR)        22
THIRTY YEAR'S WAR                           18
THE SEVEN YEAR'S WAR                        18
AMERICAN REVOLUTION                         14
KOREAN WAR                                  11
FRANCO-PRUSSIAN WAR                         10
ARAB-ISRAELI, 1948                           9
US-MEXICAN WAR                               8
KING WILLIAM'S WAR                           8
WAR OF THE AUSTRIAN SUCCESSION               7
RUSSO-JAPANESE WAR                           6
LATIN AMERICAN WARS OF INDEPENDENCE          6
ENGLISH CIVIL WAR                            6
THE BALKAN WARS                              5
BOER WAR                                     5
THE MANCHURIAN INCIDENT (1938-1939)          5
DUTCH WAR                                    5
WAR OF THE SPANISH SUCCESSION                4
ARAB-ISRAELI, 1956                           4
WAR OF 1812                                  4
SECOND ENGLISH CIVIL WAR                     3
CRIMEAN WAR                                  2
RUSSO-POLISH WAR (1920)                      2
EGYPT AND THE SUDAN                          2
ZULU WAR                                     2
WAR OF AUSTRIA WITH FRANCE AND PIEDMONT      2
AUSTRO-TURKISH WAR, 1662-1683                2
JACOBITE REBELLION                           2
POLISH-TURKISH WAR                           1
NETHERLAND'S WAR OF INDEPENDENCE             1
MONMOUTH'S REBELLION                         1
AUSTRO-TURKISH WAR, 1716-1718                1
GREAT NORTHERN WAR                           1
SPANISH-AMERICAN WAR                         1
RUSSO-FINISH WAR (1939-1940)                 1
THE FRONDE                                   1
ITALO-ETHIOPIAN WAR                          1
FRANCO-SPANISH WAR                           1
THE SPANISH CIVIL WAR                        1
AUSTRO-ITALIAN WAR                           1
AUSTRO-TURKISH WAR, 1688-1699                1
WAR OF TEXAN INDEPENDENCE                    1
TRANSVAAL REVOLT                             1
AUSTRO-PRUSSIAN (SEVEN WEEK'S) WAR           1
ISRAEL-LEBANON, 1982                         1
VIET NAM                                     1
Name: war3, dtype: int64
---- war4 ---
World War II of 1939-1945                  192
World War I of 1914-1918                   124
U.S. Civil War of 1861-1865                 49
Yom Kippur War of 1973                      33
Six Day War of 1967                         22
                                          ...
Austro-Turkish War of 1716–1718              1
Texan War of 1835-1836                       1
War of the Third Coalition of 1803-1806      1
Vietnam War Phase 1 of 1960-1965             1
Monmouth Rebellion of 1685                   1
Name: war4, Length: 64, dtype: int64
---- war4_theater ---
Western Front    133
Italy             72
Eastern Front     43
Pacific           26
Italian Front     12
Middle East       11
North Africa       8
Balkan             2
Name: war4_theater, dtype: int64
---- dbpedia ---
http://dbpedia.org/resource/Battle_of_Okinawa             28
http://dbpedia.org/resource/Battle_of_Belleau_Wood        15
http://dbpedia.org/resource/First_Battle_of_the_Marne      7
http://dbpedia.org/resource/Valley_of_Tears                7
http://dbpedia.org/resource/Battle_of_the_Somme            5
                                                          ..
http://dbpedia.org/resource/First_Battle_of_Zurich         1
http://dbpedia.org/resource/Battle_of_Lützen_(1632)        1
http://dbpedia.org/resource/First_Battle_of_Winchester     1
http://dbpedia.org/resource/Battle_of_Gettysburg           1
http://dbpedia.org/resource/Battle_of_Culloden             1
Name: dbpedia, Length: 336, dtype: int64
---- cow_warno ---
139.0    193
106.0    124
572.0     49
181.0     33
169.0     22
151.0     11
58.0      10
148.0      9
7.0        8
85.0       6
100.0      5
416.0      5
155.0      4
133.0      3
308.0      3
22.0       2
28.0       2
380.0      2
312.0      2
55.0       2
136.0      2
117.0      2
527.0      1
142.0      1
65.0       1
79.0       1
407.0      1
21.0       1
409.0      1
718.0      1
382.0      1
205.0      1
303.0      1
Name: cow_warno, dtype: int64
---- cow_warname ---
World War II of 1939-1945                    193
World War I of 1914-1918                     124
U.S. Civil War of 1861-1865                   49
Yom Kippur War of 1973                        33
Six Day War of 1967                           22
Korean War of 1950-1953                       11
Franco-Prussian War of 1870-1871              10
Arab-Israeli War of 1948-1949                  9
Mexican-American War of 1846-1847              8
Russo-Japanese War of 1904-1905                6
First Balkan War of 1912-1913                  5
Second Boer War of 1899-1902                   5
Sinai War of 1956                              4
Changkufeng War of 1938                        3
Second Bolivar Expedition of 1821-1822         3
Crimean War of 1853-1856                       2
Second British-Zulu War of 1879                2
Nomonhan War of 1939                           2
Lithuanian-Polish War of 1920                  2
Seven Weeks War of 1866                        2
Liberation of Peru of 1824-1825                2
War of Italian Unification of 1859             2
Texan War of 1835-1836                         1
Russo-Finnish War of 1939-1940                 1
Spanish-American War of 1898                   1
Second British-Mahdi War of 1896-1899          1
Vietnam War Phase 1 of 1960-1965               1
War over Lebanon of 1982                       1
First Boer War of 1880-1881                    1
First Bolivar Expedition of 1817-1819          1
Second Italian-Ethiopian War of 1895-1896      1
Spanish Civil War of 1936-1939                 1
Conquest of Egypt of 1882                      1
Name: cow_warname, dtype: int64
---- war_initiator ---
0    394
1    266
Name: war_initiator, dtype: int64
---- parent ---
373.0    7
367.0    4
304.0    4
387.0    3
475.0    2
381.0    2
347.0    2
359.0    2
473.0    2
461.0    2
481.0    1
479.0    1
498.0    1
470.0    1
464.0    1
364.0    1
Name: parent, dtype: int64

In [6]:
battles_mapped.columns

Index(['Unnamed: 0', 'isqno', 'war', 'name', 'locn', 'campgn', 'postype',
       'post1', 'post2', 'front', 'depth', 'time', 'aeroa', 'surpa', 'cea',
       'leada', 'trnga', 'morala', 'logsa', 'momnta', 'intela', 'techa',
       'inita', 'wina', 'kmda', 'crit', 'quala', 'resa', 'mobila', 'aira',
       'fprepa', 'wxa', 'terra', 'leadaa', 'plana', 'surpaa', 'mana', 'logsaa',
       'fortsa', 'deepa', 'is_hero', 'war2', 'war3', 'war4', 'war4_theater',
       'dbpedia', 'cow_warno', 'cow_warname', 'war_initiator', 'parent'],
      dtype='object')

In [7]:
battles_mapped = battles_mapped.drop(columns = ['Unnamed: 0'])

In [8]:
battles_mapped.columns

Index(['isqno', 'war', 'name', 'locn', 'campgn', 'postype', 'post1', 'post2',
       'front', 'depth', 'time', 'aeroa', 'surpa', 'cea', 'leada', 'trnga',
       'morala', 'logsa', 'momnta', 'intela', 'techa', 'inita', 'wina', 'kmda',
       'crit', 'quala', 'resa', 'mobila', 'aira', 'fprepa', 'wxa', 'terra',
       'leadaa', 'plana', 'surpaa', 'mana', 'logsaa', 'fortsa', 'deepa',
       'is_hero', 'war2', 'war3', 'war4', 'war4_theater', 'dbpedia',
       'cow_warno', 'cow_warname', 'war_initiator', 'parent'],
      dtype='object')

In [9]:
battles_mapped.columns = ['isqno', 'war', 'battle name', 'battle location', 'campaign', 'defender posture type', 
                          'defender primary defensive posture', 'defender secondary defensive posture',
                          'did defender posture change along the front?', 'did defender posture change with depth?', 
                          'did defender posture change over time?', 'attacker relative air superority in theater', 
                          'attacker relative surprise advantage', 'attacker relative combat effectiveness', 
                          'attacker relative leadership advantage', 'attacker relative training advantage',
                          'attacker relative morale advantage', 'attacker relative logistics advantage', 
                          'attacker relative momentum advantage', 'attacker relative intelligence advantage', 
                          'attacker relative technology advantage', 'attacker relative initiative advantage', 
                          'attacker win/draw/lose', 'distance attacker advanced/retreated, in kilometers',
                          'criterion for assigning wina', 'degree of influence of force quality', 
                          'degree of influence of reserves', 'degreee of influence of mobility', 
                          'degree of influence of air superiority', 'degree of influence of force preparedness', 
                          'degree of influence of weather', 'degree of influence of terrain',
                          'degree of influence of leadership', 'degree of influence of planning', 
                          'degree of influence of surprise', 'degree of influence of maneuverability', 
                          'degree of influence of logistics', 'degree of influence of fortifications', 
                          'degree of influence of depth of position',
                          'is_hero', 'war2', 'war3', 'war4', 'war theater', 'dbpedia',
                          'cow_warno', 'cow_warname', 'war initiator', 'isqno of parent']

In [79]:
battles_mapped

,isqno,war,battle name,battle location,campaign,defender posture type,defender primary defensive posture,defender secondary defensive posture,did defender posture change along the front?,did defender posture change with depth?,...,is_hero,war2,war3,war4,war theater,dbpedia,cow_warno,cow_warname,war initiator,isqno of parent
0,1,NETHERLAND'S WAR OF INDEPENDENCE,NIEUPORT,SPANISH FLANDERS,NIEUPORT 1600,"At most one defensive posture is given (so, e....",Hasty defense,NaN,0.0,0.0,...,1,NETHERLAND'S WAR OF INDEPENDENCE,NETHERLAND'S WAR OF INDEPENDENCE,Eighty Years War of 1568-1648,NaN,http://dbpedia.org/resource/Battle_of_Nieuwpoort,NaN,NaN,0,NaN
1,2,THIRTY YEAR'S WAR,WHITE MOUNTAIN,BOHEMIA,BOHEMIA 1620,A combination posture involving two distinct/s...,Hasty defense,Prepared defense,1.0,0.0,...,1,THIRTY YEAR'S WAR,THIRTY YEAR'S WAR,Thirty Years' War of 1618-1648,NaN,http://dbpedia.org/resource/Battle_of_White_Mo...,NaN,NaN,0,NaN
2,3,THIRTY YEAR'S WAR,WIMPFEN,PALATINATE,PALATINATE 1622,"At most one defensive posture is given (so, e....",Hasty defense,NaN,0.0,0.0,...,1,THIRTY YEAR'S WAR,THIRTY YEAR'S WAR,Thirty Years' War of 1618-1648,NaN,http://dbpedia.org/resource/Battle_of_Wimpfen,NaN,NaN,0,NaN
3,4,THIRTY YEAR'S WAR,DESSAU BRIDGE,ANHALT,DANISH INVASION OF GERMANY 1625-26,"At most one defensive posture is given (so, e....",Prepared defense,NaN,0.0,0.0,...,1,THIRTY YEAR'S WAR,THIRTY YEAR'S WAR,Thirty Years' War of 1618-1648,NaN,http://dbpedia.org/resource/Battle_of_Dessau_B...,NaN,NaN,1,NaN
4,5,THIRTY YEAR'S WAR,LUTTER,BRUNSWICK,DANISH INVASION OF GERMANY 1625-26,"At most one defensive posture is given (so, e....",Hasty defense,NaN,0.0,0.0,...,1,THIRTY YEAR'S WAR,THIRTY YEAR'S WAR,Thirty Years' War of 1618-1648,NaN,http://dbpedia.org/resource/Battle_of_Lutter,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,656,"ARAB-ISRAELI, 1948",JERUSALEM CORRIDOR,WEST BANK,JERUSALEM CORRIDOR,"More than one posture, but whether separate or...",Prepared defense,NaN,NaN,NaN,...,0,"ARAB-ISRAELI, 1948","ARAB-ISRAELI, 1948",Arab-Israeli War of 1948-1949,NaN,http://dbpedia.org/resource/Operation_Danny,148.0,Arab-Israeli War of 1948-1949,0,NaN
656,657,WORLD WAR II,ARDENNES,NORTHWEST EUROPE,ARDENNES 1940,"More than one posture, but whether separate or...",NaN,NaN,NaN,NaN,...,0,WORLD WAR II (FRANCE 1940),WORLD WAR II,World War II of 1939-1945,Western Front,NaN,139.0,World War II of 1939-1945,1,NaN
657,658,WORLD WAR II,CAMBRAI,NORTHWEST EUROPE,CAMBRAI,"More than one posture, but whether separate or...",NaN,NaN,NaN,NaN,...,0,WORLD WAR II (FRANCE 1940),WORLD WAR II,World War II of 1939-1945,Western Front,NaN,139.0,World War II of 1939-1945,1,NaN
658,659,WORLD WAR II,ARRAS,NORTHWEST EUROPE,ARRAS,"More than one posture, but whether separate or...",Hasty defense,NaN,NaN,NaN,...,0,WORLD WAR II (FRANCE 1940),WORLD WAR II,World War II of 1939-1945,Western Front,NaN,139.0,World War II of 1939-1945,0,NaN
659,660,WORLD WAR II,BOOS,NORTHWEST EUROPE,BOOS,"More than one posture, but whether separate or...",Prepared defense,NaN,NaN,NaN,...,0,WORLD WAR II (FRANCE 1940),WORLD WAR II,World War II of 1939-1945,Western Front,NaN,139.0,World War II of 1939-1945,0,NaN

In [83]:
battles_mapped['total relative advantage'] = ['attacker relative air superority in theater']+['attacker relative surprise advantage']+ ['attacker relative combat effectiveness']+['attacker relative leadership advantage']+ ['attacker relative training advantage']+['attacker relative morale advantage']+['attacker relative logistics advantage']+['attacker relative momentum advantage']+['attacker relative intelligence advantage']+['attacker relative technology advantage']+['attacker relative initiative advantage']

ValueError: Length of values does not match length of index

In [84]:
battles_mapped.dtypes

isqno                                                    int64
war                                                     object
battle name                                             object
battle location                                         object
campaign                                                object
defender posture type                                   object
defender primary defensive posture                      object
defender secondary defensive posture                    object
did defender posture change along the front?           float64
did defender posture change with depth?                float64
did defender posture change over time?                 float64
attacker relative air superority in theater             object
attacker relative surprise advantage                    object
attacker relative combat effectiveness                  object
attacker relative leadership advantage                 float64
attacker relative training advantage                   float64
attacker relative morale advantage                     float64
attacker relative logistics advantage                  float64
attacker relative momentum advantage                   float64
attacker relative intelligence advantage               float64
attacker relative technology advantage                 float64
attacker relative initiative advantage                 float64
attacker win/draw/lose                                  object
distance attacker advanced/retreated, in kilometers    float64
criterion for assigning wina                            object
degree of influence of force quality                   float64
degree of influence of reserves                        float64
degreee of influence of mobility                       float64
degree of influence of air superiority                 float64
degree of influence of force preparedness              float64
degree of influence of weather                         float64
degree of influence of terrain                         float64
degree of influence of leadership                      float64
degree of influence of planning                        float64
degree of influence of surprise                        float64
degree of influence of maneuverability                 float64
degree of influence of logistics                       float64
degree of influence of fortifications                  float64
degree of influence of depth of position               float64
is_hero                                                  int64
war2                                                    object
war3                                                    object
war4                                                    object
war theater                                             object
dbpedia                                                 object
cow_warno                                              float64
cow_warname                                             object
war initiator                                            int64
isqno of parent                                        float64
dtype: object

In [85]:
iwb = pd.read_csv('../data/Inter-StateWarData_v4.0.csv')

In [87]:
iwb.columns

Index(['WarNum', 'WarName', 'WarType', 'ccode', 'StateName', 'Side',
       'StartMonth1', 'StartDay1', 'StartYear1', 'EndMonth1', 'EndDay1',
       'EndYear1', 'StartMonth2', 'StartDay2', 'StartYear2', 'EndMonth2',
       'EndDay2', 'EndYear2', 'TransFrom', 'WhereFought', 'Initiator',
       'Outcome', 'TransTo', 'BatDeath', 'Version'],
      dtype='object')

In [10]:
battles_mapped.to_csv('../data/battles_mapped2.csv')

In [11]:
belligerents_mapped = pd.read_csv('../data/belligerents_mapped.csv')

In [26]:
belligerents.columns

Index(['isqno', 'attacker', 'nam', 'co', 'str', 'code', 'intst', 'rerp', 'cas',
       'finst', 'cav', 'tank', 'lt', 'mbt', 'arty', 'fly', 'ctank', 'carty',
       'cfly', 'pri1', 'pri2', 'pri3', 'sec1', 'sec2', 'sec3', 'reso1',
       'reso2', 'reso3', 'strpl', 'strmi', 'caspl', 'casmi', 'ach', 'actors'],
      dtype='object')

In [14]:
belligerents_mapped = belligerents_mapped.drop(columns = ['Unnamed: 0'])

In [27]:
belligerents.columns = ['isqno', 'attacker', 'designation of the forces', 'commanders', 
                               'total personnel strength', 'interpretation of total personnel strength', 
                               'initial personnel strength', 'personnel reinf/repl during battle', 'casualties', 
                               'ending personnel strength', 'horse cavalry strength', 'total tanks', 'light tanks',
                               'main battle tanks', 'artillery pieces', 'close air support aircraft',
                               'armour losses', 'artillery losses', 'close air support aircraft losses', 
                               'primary tactical scheme, part 1', 'primary tactical scheme, part 2', 
                               'primary tactical scheme, part 3', 'secondary tactical scheme, part 1', 
                               'secondary tactical scheme, part 2', 'secondary tactical scheme, part 3', 
                               'primary resolution/outcome, part 1', 'primary resolution/outcome, part 2', 
                               'primary resolution/outcome, part 3', 'strength error, plus percent', 
                               'strength error, minus percent', 'casualty error, plus percent', 
                               'casualty error, minus percent',
                               'mission accomplishment score; on scale of 1 to 10', 'actors']

In [28]:
belligerents.to_csv('../data/belligerents_mapped3.csv')